{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <h1>Главная страница</h1>

    {% if app.user %}
        <div {{ vue_component('Hello', { 'name': app.user.email }) }}></div>
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        Please,
        <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
{% endblock %}
